/*decalring all the font variables*/
@font-face {
  font-family: 'Playfair';
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  src: url('../font/PlayfairDisplay-Regular.ttf');
}

@font-face {
  font-family: 'playfair italic';
  font-display: auto;
  src: url('../font/playfairdisplay-italic.ttf'); /* ie9 compat modes */
}

@font-face {
  font-family: 'Playfair italicB';
  font-display: auto;
  src: url('../font/PlayfairDisplay-BoldItalic.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Cinzel';
  font-display: auto;
  src: url('../font/Cinzel-ExtraBold.ttf'); /* IE9 Compat Modes */
}

/*Actual divs, parts of the website*/

body {
    background-color: white;
}

.stripe {
    position:fixed;
    background-color:rgb(22, 118, 112);
    width: 100%;
    height: 200px;
    top: 0px;
    left: 0px;
}

.stripe hr {
    position: absolute;
    rotate: 90deg;
    border-color: rgb(20, 58, 62);
    width: 10%;
    top: 40%;
    right: 56%;
}

.OpinionStripe{
    width: 35.4%;
    height: 90%;
    padding: 20px;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.OpinionStripe:active{
    background-color:rgb(15, 84, 80);
}

.OpinionStripe p {
    font-size: 70px;
    position: relative;
    color: rgb(22, 58, 56);
    height: 90%;
    bottom: 8%;
    left: 10%;
}

.BookStripe{
    width: 31%;
    height: 90%;
    padding: 20px;
    position: absolute;
    bottom: 0%;
    left: 39%;
}

.BookStripe:active{
    background-color:rgb(15, 84, 80);
}

.BookStripe p {
    font-size: 70px;
    position: relative;
    color: rgb(22, 58, 56);
    height: 90%;
    bottom: 8%;
    left: 23%;
}

.buttonStripe {
    width: 80px;
    height: 40%;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 27%;
    left: 88%;
}

.buttonStripe img{
    position: absolute;
    bottom: -23%;
    left: -18%;
    width: 150%;
    height: 150%;
}

.buttonStripe:active{
    background-color: rgb(147, 174, 175);
}

.mainContent{
    display:inline;
    position: relative;
    background-color: white;
    top: 200px;
    width: 100%;
    height: auto;
    min-height: 100vh;
    overflow-y: scroll;
}
.mainContent .post {
  position: relative;
  overflow-wrap: break-word;
  width: 100%;
  padding: 40px;
  border-radius: 5%;
  overflow:hidden;
  margin-bottom: 50px;
}

.mainContent .post a {
    text-decoration: none;
    color: rgb(43, 92, 88);
}

.mainContent .post .date {
    font-size: 25px;
    color: gray;
    margin: 12px 0;
}

.mainContent .post p {
    font-family: "Playfair";
    font-size: 30px;
    color: rgb(56, 67, 66);
}
.post a h1 {
    display: inline-block;
    position: relative;
    font-family: "Playfair";
    font-size: 70px;
}

.post a h1::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(43, 92, 88);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.post a h1:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


p{
    display: flexbox;
    font: "Playfair";
    font-size: 40px;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: rgb(24, 102, 105); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  width: 50px;
  right: 82%;
  font-size: 56px;
  color: black;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav .profilePhoto {
    position: relative;
    border: 2px solid rgb(189, 224, 231);
    height: 250px;
    border-radius: 100%;
    margin-top: 10%;
    left: 110px;
}


.profileName {
    letter-spacing: 2px;
    font-size: 50px;
    font-family: 'Playfair';
    color: rgb(177, 223, 219);
    margin-top: 5%;
    position: relative;
    left:70px;
}

.socials {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    border-radius: 50px;
    width: 390px;
    height: 105px;
    padding: 10px;

    margin-top: 7%;
    position: relative;
    left: 40px;
}

.socials a {
    height: 65px;
    transition: all 0.3s;
}

.socials a img {
    width: 65px;
}

.socials a:hover {
    height: 80px;
}

.sidenav p {
    padding: 40px;
    display: flex;
    width: 85%;
    font-size: 40px;
    font-family: 'Playfair';
    color: rgb(129, 183, 183);
}

.sidenav h1{
    color: #318080;
    font-family: "Cinzel";
    font-size: 70px;
    position: relative;
    left: 80px;
    top:70px;
}





/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-right .5s;
  padding: 20px;
}
