/*decalring all the font variables*/
@font-face {
  font-family: 'Playfair';
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  src: url('../font/PlayfairDisplay-Regular.ttf');
}

@font-face {
  font-family: 'playfair italic';
  font-display: auto;
  src: url('../font/playfairdisplay-italic.ttf'); /* ie9 compat modes */
}

@font-face {
  font-family: 'Playfair italicB';
  font-display: auto;
  src: url('../font/PlayfairDisplay-BoldItalic.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Cinzel';
  font-display: auto;
  src: url('../font/Cinzel-ExtraBold.ttf'); /* IE9 Compat Modes */
}

/*Actual divs, parts of the website*/

body {
    background-color: white;
}

.stripe {
    position:fixed;
    background-color:rgb(22, 118, 112);
    width: 100%;
    height: 200px;
    top: 0px;
    left: 0px;
}

.stripe hr {
    position: absolute;
    rotate: 90deg;
    border-color: rgb(20, 58, 62);
    width: 10%;
    top: 40%;
    right: 56%;
}

.OpinionStripe{
    width: 35%;
    height: 90%;
    padding: 20px;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.OpinionStripe:active{
    background-color:rgb(15, 84, 80);
}

.OpinionStripe p {
    font-size: 70px;
    position: relative;
    color: rgb(22, 58, 56);
    height: 90%;
    bottom: 8%;
    left: 10%;
}

.BookStripe{
    width: 31%;
    height: 90%;
    padding: 20px;
    position: absolute;
    bottom: 0%;
    left: 39%;
}

.BookStripe:active{
    background-color:rgb(15, 84, 80);
}

.BookStripe p {
    font-size: 70px;
    position: relative;
    color: rgb(22, 58, 56);
    height: 90%;
    bottom: 8%;
    left: 23%;
}

.buttonStripe {
    width: 80px;
    height: 40%;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 27%;
    left: 88%;
}

.buttonStripe img{
    position: absolute;
    bottom: -23%;
    left: -18%;
    width: 150%;
    height: 150%;
}

.buttonStripe:active{
    background-color: rgb(147, 174, 175);
}

.mainContent{
    display:inline;
    position: relative;
    background-color: white;
    top: 200px;
    width: 100%;
    height: auto;
    min-height: 100vh;
    overflow-y: scroll;
}
.mainContent .post {
  position: relative;
  overflow-wrap: break-word;
  width: 100%;
  padding: 40px;
  border-radius: 5%;
  overflow:hidden;
  margin-bottom: 50px;
}

.mainContent .post a {
    text-decoration: none;
    color: rgb(43, 92, 88);
}

.mainContent .post .date {
    font-size: 30px;
    color: gray;
    margin: 12px 0;
}

.post p {
    font-family: "Playfair";
    font-size: 35px;
    color: rgb(56, 67, 66);
}
.post a h1 {
    display: inline-block;
    position: relative;
    font-family: "Playfair";
    font-size: 70px;
}

.post a h1::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(43, 92, 88);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.post a h1:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


p{
    display: flexbox;
    font: "Playfair";
    font-size: 70px;
}