/*decalring all the font variables*/
@font-face {
  font-family: 'Playfair';
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  src: url('../font/PlayfairDisplay-Regular.ttf');
}

@font-face {
  font-family: 'playfair italic';
  font-display: auto;
  src: url('../font/playfairdisplay-italic.ttf'); /* ie9 compat modes */
}

@font-face {
  font-family: 'Playfair italicB';
  font-display: auto;
  src: url('../font/PlayfairDisplay-BoldItalic.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Cinzel';
  font-display: auto;
  src: url('../font/Cinzel-ExtraBold.ttf'); /* IE9 Compat Modes */
}

/*Actual divs, parts of the website*/

body {
    background-color: white;
}

.stripe {
    position:fixed;
    background-color:rgb(22, 118, 112);
    width: 100%;
    height: 10%;
    top: 0px;
    left: 0px;
}

.stripe hr {
    position: absolute;
    rotate: 90deg;
    border-color: black;
    width: 10%;
    top: 40%;
    right: 50%;
}

.OpinionStripe{
    width: 41%;
    height: 90%;
    padding: 20px;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.OpinionStripe:active{
    background-color:rgb(15, 84, 80);
}

.OpinionStripe p {
    font-size: 67px;
    position: relative;
    color: rgb(22, 58, 56);
    height: 90%;
    bottom: 20%;
    left: 20%;
}

.BookStripe{
    width: 30%;
    height: 50%;
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 25%;
    left: 40%;
    max-width: 10%;
}

.buttonStripe {
    width: 80px;
    height: 50%;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 25%;
    left: 85%;
}

.buttonStripe img{
    position: absolute;
    bottom: -23%;
    left: -18%;
    width: 150%;
    height: 150%;
}

.buttonStripe:active{
    background-color: rgb(147, 174, 175);
}

.mainContent{
    display: flex;
    position: relative;
    background-color: white;
    top: 200px;
    width: 100%;
    height: auto;
    min-height: 100vh;
    overflow-y: scroll;
}

p{
    display: flexbox;
    font: "Playfair";
    font-size: 70px;
}