* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overscroll-behavior-y: none;
}

/*declring all the font variables*/
@font-face {
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 500;
    font-display: auto;
    src: url('../font/PlayfairDisplay-Regular.ttf');
    /* ie9 compat modes */
}


@font-face {
    font-family: 'playfair';
    font-style: normal;
    font-display: auto;
    src: url('../font/PlayfairDisplay-VariableFont_wght.ttf');
    /* ie9 compat modes */
}

@font-face {
    font-family: 'playfair italic';
    font-display: auto;
    src: url('../font/playfairdisplay-italic.ttf');
    /* ie9 compat modes */
}

@font-face {
    font-family: 'Playfair italicB';
    font-display: auto;
    src: url('../font/PlayfairDisplay-BoldItalic.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Cinzel';
    font-display: auto;
    src: url('../font/Cinzel-ExtraBold.ttf');
    /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Lora';
  font-display: auto;
  src: url('../font/Lora-Regular.ttf');
  /* IE9 Compat Modes */
}

/*the type of div content style*/

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-height: 120vh;
    background-color: rgb(22, 118, 112);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    min-width: 400px;
    width: 12%;
    max-width: 500px;
    overflow-y: visible;
}

.sidebar .profilePhoto {
    border: 2px solid rgb(189, 224, 231);
    height: 170px;
    border-radius: 100%;
    margin-top: 10%;
}

.profileName {
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Playfair';
    color: rgb(177, 223, 219);
    margin-top: 5%;
}

.socials {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    width: 240px;
    min-height: 55px;
    height: 55px;
    margin-top: 6%;
}

.socials a {
    height: 35px;
    transition: all 0.3s;
}

.socials a img {
    width: 35px;
}

.socials a:hover {
    height: 40px;
}

.sideTitle {
    font-size: 70px;
    font-family: 'Cinzel';
    color: rgb(188, 224, 224);
    text-align: center;
    margin-top: 15%;
}

.sidebar p {
    display: flex;
    width: 85%;
    font-size: 20px;
    font-family: 'Playfair';
    color: rgb(131, 184, 184);
}

/*div that will contain all the posts*/
.mainContent {
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
}

.buttonWrapper {
    display: flex;
    justify-content: space-around;
    height: 90px;
    background-color: rgb(112, 163, 161);
    margin: auto;
    border-radius: 13px;
    width: 350px;
    box-shadow: 2px 2px 20px 0px rgb(0 0 0 / 30%);
    margin-top: 10px;
    margin-bottom: 100px;
}

.buttonWrapper a {
    font-family: "playfair";
    text-decoration: none;
    color: rgb(43, 92, 88);
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
}

.button1 {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.button2 {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.buttonWrapper .button1 {
    border-right: 1px solid rgb(0, 0, 0);
    border-color: rgba(92, 132, 128, 0.3);
}

.button1:hover {
    background-color: rgb(125, 179, 175);
}

.button1:active {
    background-color: rgb(99, 145, 143);
}

.button2:hover {
    background-color: rgb(125, 179, 175);
}

.button2:active {
    background-color: rgb(99, 145, 143);
}

.mainContent .post {
    margin-left: 3%;
    margin-top: 0%;
    margin-bottom: 0%;
    width: 95%;
    padding: 0%
}

.mainContent .post a {
    font-family: "Playfair";
    font-weight: 500;
    font-size: 22px;
    word-spacing: 10%;
    text-decoration: none;
    color: rgb(50, 114, 109);
}

.mainContent .post .date {
    font-size: 22px;
    color: gray;
    margin: 12px 0;
}

.mainContent .post h1 {
    font-family: "Playfair";
    font-weight: 700;
    font-size: 45px;
    color: rgb(22, 118, 112);
    margin-bottom: 2%;
    padding: 0%;
}


.post p {
    font-family: "Playfair";
    font-size: 20px;
    color: rgb(56, 67, 66);
    margin: 0%;
}

.transition-fade {
    transition: 0.4s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}

.post a h1 {
    display: inline-block;
    position: relative;
}

.post a h1::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(60, 133, 127);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.post a h1:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.testoArticolo {
    font-family: "Playfair";
    font-weight: 200;
    margin: 12px 0;
    font-size: 23px !important;
}

.post p { 
    font-family: "Playfair";
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 20px; 
    font-size: 23px !important;
}

.post h2{
  margin-top: 2%;
  margin-bottom: 2%;
  text-size-adjust: none;
  line-break:strict;
  font-family: "Lora";
  font-size: 35px;
  color: rgb(22, 118, 112);
}

.post h3{
  margin-top: 8px;
  text-size-adjust: none;
  line-break:strict;
  font-family: "Lora";
  font-size: 25px;
  color: rgb(22, 118, 112);
}

.post ul{
  padding: 20px;
  text-size-adjust: none;
  line-break:strict;
  font-family: "Lora";
  font-size: 22px;
  color:rgb(56, 67, 66);
}

blockquote {
  background: #e4eaea;
  border-left: 10px solid #84a8aa;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #82a9a6;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

hr {
    margin-top: 35px;
    margin-bottom: 35px;
    border: none;
    border-top: 3px double #2b675e;
    color: #266262;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    font-size: larger;
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}
